# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Logs and databases
*.log
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db

# Python virtual environment
pip-wheel-metadata/
.python-version
